.card-profile{
    width: 305px;
    height: 400px;
    align-self: center;
    border-radius: 20px;
    background-color: #0f0437;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.avatar-profile{
    margin-top: 50px;
    height: 100px;
    width: 100px;
    align-self: center;
    border-radius: 50%;
}
.container-profile{
   margin-top: 50px;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    margin-bottom: 15px;
}
.stats-text{
    font-size: 1rem;
    font-weight: 450;
    letter-spacing:0.6px;
}
.stats-profile{
    margin-top: 20px;
}
